* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

/*--------Header----------*/
#header,
#nav {
  width: 100%;
  display: flex;
  justify-content: center;

}

#header .container {
  width: 1260px;
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  font-size: 14px;

}

#changepass-button1.changepass-button,
#username-button1.username-button,
#logout-button1.logout-button,
#log-button1.log-button,
#reg-button1.reg-button
 {
 	color:white;
	text-decoration: none;
	padding: 4px 15px;
	border: 1px solid white;
	margin-left: 10px;
}


.form-logout-button:hover
#changepass-button1.changepass-button:hover,
#username-button1.username-button:hover,
#logout-button1.logout-button:hover,
#log-button1.log-button:hover,
#reg-button1.reg-button:hover
{
   background-color: white;
   color: #1F4456;
}

.form-logout-button 
{
  display: block;
  margin: 0;
  padding: 0; 
}

.logout-button 
{
	background-color: inherit;
}

/*--------Header----------*/

/*--------Nav----------*/
#nav .container {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  font-size: 14px;
}

#nav ul {
  margin-top: 14px;
}

#nav li {
  display: inline-block;
  padding: 16px 30px;
}

#nav li:hover>a {
  border-bottom: 1px solid white;
  color: white;

}



.book-button {
  padding: 10px 15px;
  margin-left: 10px;
}

.book-button:hover {
  color: white;
  border-bottom: 1px solid white;
}

.nav-right a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  padding-bottom: 5px;
}

.nav-left a {
  font-size: 32px;
  text-align: center;
  color: #333;
  text-decoration: none;
}

.nav-left sup {
  font-size: 16px;
  font-style: italic;
  color: #666;
}

a {
  text-decoration: none;
}


/*icon*/

i {
  color: #757575;
}

/*--------Nav----------*/

/*--------SearchBox--------*/
#search-box {
  display: flex;

  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2px;
  height: 550px;



}

.containers {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  background-image: url(../img/bgr-diemden8.jpg);
}

.box-pop {

  display: flex;
  width: 75%;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.pop {
  width: 20%;
  padding: 8px 16px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  background-color: rgb(235, 235, 235);
  border-radius: 3px;
  outline: none;
}

input {
  border: none;
  width: 100%;
  outline: none;
  color: rgb(117, 117, 117);
  overflow: hidden;
  background-color: rgb(235, 235, 235);
}

.box-pop p {
  font-size: 14px;
  color: rgb(117, 117, 117);
  margin-bottom: 0;
}

input[type="button"],
.frame {
  background-color: #0a5ab5;
  color: white;
  width: 130px;
  height: 60px;
  border-radius: 10px;
}

input[type="button"]:hover {
  background-color: #084c9a;
}



/*--------Content--------*/
#content {
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 5px;

}

#content .container {
  width: 85%;
}



.container .main-content {
  width: 100%;
}

.container .main-content #duongdanvitri ul {
  display: flex;
  padding-left: 0;
}

.container .main-content #duongdanvitri ul li {
  margin: 0 5px;
  font-size: 13px;
}

.container .main-content #duongdanvitri ul li a {
  text-decoration: none;
}



.container .main-content .content-sidebar {
  margin-left: 0;
}

/*--------------Itemt--------------------*/
.content-itemt {

  justify-content: center;
  height: 1400px;
  margin-top: 50px;
  width: 720px;
}

.content-itemt #luachonloc {
  display: flex;
  justify-content: center;
}

.content-itemt #luachonloc ul {
  display: flex;
  padding-left: 0;
  border-radius: 5px;
  border: 1px solid rgb(21, 21, 230);
  width: 100%;


}


.content-itemt #luachonloc ul li {
  padding: 7px 23px;
  display: flex;
  align-items: center;
  height: auto;
  font-weight: 300;
  border-right: 1px solid blue;
}


.content-itemt #luachonloc ul li:hover {
  background-color: rgb(21, 21, 230);

}



.content-itemt #luachonloc #hangdau:hover {
  background-color: rgb(0, 0, 168);

}

.content-itemt #luachonloc ul li:hover a {

  color: white;
}

.content-itemt #luachonloc ul li a {
  text-decoration: none;


}

.itemt-1 {
  border: 1px solid rgb(217, 214, 214);
  border-radius: 5px;
  background-color: white;
  height: auto;
}

.itemt-1 .itemt-anh {
  display: flex;
  align-items: center;
}

.itemt-1 .itemt-anh img {
  width: 100%;
  height: 92%;
  border-radius: 10px;
}



.itemt-1 .itemt-text {
  display: flex;
  align-items: center;
  width: 100%;
  height: 94%;
  padding-right: 0;
}

.itemt-1 .itemt-text .text-1 {
  width: 100%;
  height: 94%;
}


.itemt-text .text-1 #itemt-title {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;


}

.text-1 .text-right {
  padding-right: 0;

}


.text-1 .text-left p {
  color: black;
  font-size: 12px;
}



.text-1 .text-right p {
  color: black;
  font-size: 18px;
  float: right;
  margin: 0;


}

.text-1 .text-right .itemt-comment {
  width: 100%;
  height: 90px;
}


.text-1 .text-right .itemt-price {
  width: 100%;
  height: 150px;

}

.text-1 .text-right .itemt-price p {
  width: 100%;
}

.text-1 .text-right .itemt-price .giacu {
  text-decoration: line-through;
  color: red;
  font-size: 14px;
}

.text-1 .text-right .itemt-price .giamoi {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}



.text-1 ul {
  border-left: 1px solid rgb(196, 195, 195);
  padding-left: 20px;
}

.text-1 ul li {
  margin: -6px;
  padding: 0;
}


.form-check-label {

  font-weight: 400;
  font-size: 13px;
  margin-left: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}























/*--------ICON--------*/
.ti-star {
  color: rgb(239, 221, 19);

}


.ti-check {
  color: green;
}