* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

/*--------Header----------*/
#header,
#nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

#header .container {
    width: 1260px;
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    font-size: 14px;
}

.username-button,
.changepass-button,
.logout-button,
.log-button,
.reg-button{
	color: white;
	text-decoration: none;
	padding: 4px 15px;
	border: 1px solid white;
	margin-left: 10px;
}

.form-logout-button:hover
.changepass-button:hover,
.username-button:hover,
.logout-button:hover,
.log-button:hover,
.reg-button:hover {
	color: black;
	text-decoration: none;
	background-color: white;
}

.form-logout-button {
  display: block;
  margin: 0;
  padding: 0; 
}

.logout-button {
	text-decoration: none;
	background-color: inherit;
}

/*--------Header----------*/

/*--------Nav----------*/
#nav .container {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    font-size: 14px;
}

#nav li {
    display: inline-block;
    padding: 20px 30px;
}

#nav li:hover {
    background-color: #1F4456;
    color: white;
    border-radius: 8px;
}

#nav li:hover a {
    color: white;
}

.book-button {
    border: 1px solid black;
    padding: 10px 15px;
    color: black;
    margin-left: 10px;
}

.book-button:hover {
    color: white;
    background-color: #1F4456;
}

.nav-right a {
    color: black;
    font-size: 16px;
}

.nav-left a {
    font-size: 32px;
    text-align: center;
    color: #333;
}

.nav-left sup {
    font-size: 16px;
    font-style: italic;
    color: #666;
}

/*--------Nav----------*/

/*-------Content-------*/

#content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-part-1 {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

#content .title-text {
    font-size: 32px;
    color: black;
    font-weight: 500;
}

#content img {
    width: 400px;
    height: 130px;
}

.details {
    display: none;
    width: 1040px;
    background-color: #F5F5F5;
    color: black;
    height: auto;
    padding: 20px;
    line-height: 2;
    margin-top: 20px;
}

.question {
    width: 1040px;
    padding: 32px 0;
    border-top: 1px solid grey;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.question:last-child {
    border-bottom: 1px solid black;
}

.main-question {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active {
    display: block;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    transform: rotate(180deg);
    /* Thêm transition cho hiệu ứng xoay */
}

.arrow.active {
    transform: rotate(360deg);
    /* Xoay mũi tên khi có lớp active */
}

/*--------Footer--------*/

footer {
    background-color: #1F4456;
    height: 30px;
}

#copyright {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright p {
    font-weight: 200;
}

/*--------Footer--------*/