* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style-type: none;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
   color: black;
}

/*--------Header----------*/
#header,
#nav {
   width: 100%;
   display: flex;
   justify-content: center;

}

#header .container {
   width: 1260px;
   display: flex;
   justify-content: space-between;
   height: 48px;
   align-items: center;
   font-size: 14px;
}

.log-button,
.reg-button {
   padding: 4px 15px;
   border: 1px solid white;
   margin-left: 20px;
   text-decoration: none;
   color: white;

}

.log-button:hover,
.reg-button:hover {
   background-color: white;
   color: #1F4456;
}

/*--------Header----------*/

/*--------Nav----------*/
#nav .container {
   width: 1160px;
   display: flex;
   justify-content: space-between;
   height: 64px;
   align-items: center;
   font-size: 14px;
}

#nav ul {
   margin-top: 14px;
}

#nav li {
   display: inline-block;
   padding: 16px 30px;
}

#nav li:hover {
   background-color: #1F4456;
   color: white;
   border-radius: 8px;
}

#nav li:hover a {
   color: white;
   text-decoration: none;
}

.book-button {
   border: 1px solid black;
   padding: 10px 15px;
   color: black;
   margin-left: 10px;
}

.book-button:hover {
   color: white;
   background-color: #1F4456;
}

.nav-right a {
   color: black;
   font-size: 16px;
   text-decoration: none;
}

.nav-left a {
   font-size: 32px;
   text-align: center;
   color: #333;
   text-decoration: none;
}

.nav-left sup {
   font-size: 16px;
   font-style: italic;
   color: #666;
}

a {
   text-decoration: none;
}


/*icon*/

i {
   color: #757575;
}

/*--------Nav----------*/

/*--------SearchBox--------*/
#search-box {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 150px;
   background-image: url(../../assets/img/bgr-uudai.png);
}






/*--------Content--------*/
#content {
   display: flex;
   justify-content: center;
   margin-top: 5px;

}

#content .container {
   width: 70%;
}



.container .main-content {
   width: 100%;
}

.container .main-content #duongdanvitri ul {
   display: flex;
   padding-left: 0;
}

.container .main-content #duongdanvitri ul li {
   margin: 0 5px;
   font-size: 13px;
}

.container .main-content #duongdanvitri ul li a {
   text-decoration: none;
}



.container .main-content .content-sidebar {
   margin-left: 0;
}

/*--------------Itemt--------------------*/
.content-itemt {

   justify-content: center;
   height: 110vh;
   margin-top: 50px;
   width: 720px;
}

.content-itemt #luachonloc {
   display: flex;
   justify-content: center;


}

.content-itemt #luachonloc ul {
   display: flex;
   padding-left: 0;
   border-radius: 5px;
   border: 1px solid rgb(21, 21, 230);
   width: 100%;


}


.content-itemt #luachonloc ul li {
   padding: 7px 23px;
   display: flex;
   align-items: center;
   height: auto;
   font-weight: 300;
   border-right: 1px solid blue;
}


.content-itemt #luachonloc ul li:hover {
   background-color: blue;

}



.content-itemt #luachonloc #hangdau:hover {
   background-color: rgb(0, 0, 168);

}

.content-itemt #luachonloc ul li:hover a {

   color: white;
}

.content-itemt #luachonloc ul li a {
   text-decoration: none;


}




.itemt-1 .itemt-anh img {
   width: 100%;
   height: 92%;
   border-radius: 10px;
}




.form-check-label {

   font-weight: 400;
   font-size: 13px;
   margin-left: 15px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}






.uudai-1,
.card,
.card img {
   width: 230px;
}

.card {
   height: 100%;
}





/* Cách áp dụng mã giảm giá*/
#cach-ap-dung {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 400px;
   background-image: url(../../assets/img/sudunguudai.png);
}




/*--------Footer--------*/

.footer {
   background-color: #1F4456;
   height: 30px;
   padding-top: 20px;
}

#copyright {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

#copyright p {
   font-weight: 200;
   color: white;
}



.display-none {
   display: none;
}